.typewriter {
  background: transparent !important;
  font-size: 1.2rem;
  font-family: monospace;
  color: #000;
  white-space: pre-wrap;
  text-align: center;
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s step-end infinite;
  color: #000;
  background: transparent;
}

@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes AR {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.4);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}

.voice-dot {
  height: 80px;
  width:  80px;
  background-color: white;
  border-radius: 50%;
  animation: AR 1.5s ease-in-out infinite;
}